### Account Manager
- signing in, then navigating to home page (from both buttons) 
    - returning and still signed in
    - returning and signing in again (still remembered)
- (failed) turning off app coming back trying same login
    - it doesn't but don't think it could?
- making one user, then another, then logging into the 1st and then back to the 2nd
    - works fine

### Scoreboard
- testing adding phony games based on new users being added and dynaomically updating
    - TODO
- 

### undo
- after loading making sure undo still works
    - TODO